<div>
  <p>
    <strong>Name:</strong>
    <%= name(user) %>
  </p>
  <p>
    <strong>Events Created:</strong>
    <% events_created.each do |event| %>
      <li>
        <%= link_to event_description(event), event_path(event) %>
      </li>
    <% end %>
  </p>
  <p>
    <strong>Events Attended:</strong><br/>
    <% attended_events.each do |event| %>
      <li>
        <%= link_to event_description(event), event_path(event) %>
      </li>
    <% end %>
  </p>
  <p>
    <strong>Upcoming Events Attended:</strong><br/>
    <% upcoming_events.each do |event| %>
      <li>
        <%= link_to event_description(event), event_path(event) %>
      </li>
    <% end %>
  </p>
  <p>
    <strong>Previous Events Attended:</strong><br/>
    <% prev_events.each do |event| %>
      <li>
        <%= link_to event_description(event), event_path(event) %>
      </li>
    <% end %>
  </p>
</div>
