<div>
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>
  <p>
    <strong>Events Created:</strong>
    <% user.events_created.each do |event| %>
      <li>
        <%= link_to event.description, event_path(event) %>
      </li>
    <% end %>
  </p>
  <p>
    <strong>Events Attended:</strong><br/>
    <% user.attended_events.each do |event| %>
      <li>
        <%= link_to event.description, event_path(event) %>
      </li>
    <% end %>
  </p>
  <p>
    <strong>Upcoming Events Attended:</strong><br/>
    <% upcoming_events.each do |event| %>
      <li>
        <%= link_to event.description, event_path(event) %>
      </li>
    <% end %>
  </p>
  <p>
    <strong>Previous Events Attended:</strong><br/>
    <% prev_events.each do |event| %>
      <li>
        <%= link_to event.description, event_path(event) %>
      </li>
    <% end %>
  </p>
</div>
