<%= form_with(model: event, local: true) do |form| %>
  <%= render 'errors' %>
  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, :id => :event_description, class: 'mb-1 form-control' %>
  </div>
  <br/>
  <br/>
  <button class="actions btn">
    <%= form.submit %>
  </button>
<% end %>
