<div>
<h5>Add Attended Event</h5><br/>
<%= form_with(model: event, local: true) do |form| %>

 <% events.each do |event| %> 
  <%= check_box_tag "event_ids[]", event.id, false %> 
  <%= event.description %> <%= event.date %><br/>
<% end %>
<br/>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

</div>
