<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @event.description %>
  <%= @event.date %>
</p>
<p>
  <strong>Creator:</strong>
  <%= @creator.name %>
</p>
<p>
  <strong>Attendees:</strong><br/>
  <% @event.attendees.each do |attendee| %>
    <li>
      <%= attendee.name %>
    </li>
  <% end %>
</p>
<%= link_to 'Back', events_path %>
