<div>
  <p>
    <strong>Description:</strong>
    <%= description %>
  </p>
  <p>
    <strong>Date:</strong>
    <%= date %>
  </p>
  <p>
    <strong>Creator:</strong>
    <%= creator %>
  </p>
  <p>
    <strong>Attendees:</strong><br/>
    <% attendees.each do |attendee| %>
      <li>
        <%= name(attendee) %>
      </li>
    <% end %>
  </p>
  <%= link_to 'Back', events_path %>
</div>
