<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p id="notice"><%= notice %></p>
    <% if current_user %>
    <%= current_user.name%>
    <%= link_to "Sign Out", sign_out_path, method: :delete, class: "btn" %>
    <% end %>
    <%= yield %>
  </body>
</html>
